<html>
  <head>
    <link rel="stylesheet" href="/assets/notes.css">
  </head>
  <body>
    <div class="content">{{{content}}}</div>
    <!-- <div class="footer-separator"></div> -->
    <!-- <div class="footer"><div class="footer-inner">Viktor Qvarfordt</div></div> -->
  </body>
</html>