<html>
  <head>
    <link rel="stylesheet" href="/assets/notes.css">
    <link rel="stylesheet" href="/assets/hljs-github.css">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        messageStyle: "none",
        tex2jax: {
          inlineMath: [["$", "$"], ["\\(", "\\)"]],
          processEscapes: true
        },
        "HTML-CSS": {
          availableFonts: ["TeX"]
        }
      });
    </script>
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  </head>
  <body>
    <div class="content">{{{content}}}</div>
    <!-- <div class="footer-separator"></div> -->
    <!-- <div class="footer"><div class="footer-inner">Viktor Qvarfordt</div></div> -->
  </body>
</html>