@import url(fonts.css);

/*html { position: relative; min-height: 100%; font-size:100%; }*/
/*
body { margin: 0 auto 8rem auto; padding:0 1em; max-width:40em;
       font-family:'Open Sans'; color:#333; }
*/
body {
  font-family: 'Open Sans';
  color: #333;
}


h1, h2, h3, h4, h5, h6 { font-weight: 300; }
h1 { font-size: 37px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }

a { color:#0088cc; text-decoration:none; }
a:hover, a:focus { color:#005580; text-decoration:underline; }

.MathJax { color: #444; } /* The font is so thick that it needs to be brighter to fit in. */

.content {
  margin: 40px auto 0 auto;
  width: 800px;
}

/*.article-title {
  font-size: 275%;
  font-weight: 300;
  font-family: inherit;
  outline: none;
  margin: 2rem 0 1rem 0;
  border: none;
  border-bottom: 1px solid #eee;
  width: 100%;
}
.article-title:after {
  position: absolute;
  font-size: 12px;
  right: 0;
  bottom: -2rem;
  color: #aaa;
}
*/

.date {
  margin-top: -1rem;
  text-align: right;
  font-size: 85%;
  color: #aaa;
  min-height: 19px; /* Height of element when non-empty. */
}

/* Modern Clean CSS Sticky Footer: http://mystrd.at/modern-clean-css-sticky-footer/ */
/*footer       { position:absolute; left:0; bottom:0;   width:100%; }*/
/*footer .wrap { position:absolute; left:0; bottom:1em; width:100%; text-align:center; font-size:0.8rem; }*/

/* Instead I use a footer that is always visible. */
.footer-separator {
  position: absolute;
  left: 0;
  bottom: 25px;
  height: 20px;
  width: 100%;
  z-index: 99;
  background: -webkit-gradient(linear, center bottom, center top, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
}
.footer {
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /*text-align: center;*/
  /*font-size: 0.8rem;*/
  /*background: #fafafa;*/
  height: 25px;
  padding: 0;
  margin: 0;
}
.footer-inner {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 13px;
}
.footer p { margin: 0; }
.footer a { color: inherit !important; }





/* - STYLING CODE - */

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

code {
  color: inherit;
  font-family: 'Ubuntu Mono', monospace;
  padding: 2px 3px;
}
pre code {
  padding: 0;
  border: none;
}
pre {
  padding: 1em;
}
pre, code {
  background-color: #fcfcfc;
  border: 1px solid #eee;
  /*border: 1px solid #e1e1e8;*/
  border-radius: 5px;
}
pre, pre code {
  white-space: pre;
  word-wrap: normal;
}


/* - - PRETTYPRINT COLORS - - */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000; }  /* plain text */
.str { color: #080; }  /* string content */
.kwd { color: #008; }  /* a keyword */
.com { color: #800; font-style: italic; }  /* a comment */
.typ { color: #606; }  /* a type name */
.lit { color: #066; }  /* a literal value */
/* punctuation, lisp open bracket, lisp close bracket */
.pun, .opn, .clo { color: #660 }
.tag { color: #008; }  /* a markup tag name */
.atn { color: #606; }  /* a markup attribute name */
.atv { color: #080; }  /* a markup attribute value */
.dec, .var { color: #606; }  /* a declaration; a variable name */
.fun { color: red; }  /* a function name */

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */
/* pre .str, code .str { color: #65B042; } /\* string  - green *\/ */
/* pre .kwd, code .kwd { color: #E28964; } /\* keyword - dark pink *\/ */
/* pre .com, code .com { color: #AEAEAE; font-style: italic; } /\* comment - gray *\/ */
/* pre .typ, code .typ { color: #89bdff; } /\* type - light blue *\/ */
/* pre .lit, code .lit { color: #3387CC; } /\* literal - blue *\/ */
/* pre .pun, code .pun { color: #fff; } /\* punctuation - white *\/ */
/* pre .pln, code .pln { color: #fff; } /\* plaintext - white *\/ */
/* pre .tag, code .tag { color: #89bdff; } /\* html/xml tag    - light blue *\/ */
/* pre .atn, code .atn { color: #bdb76b; } /\* html/xml attribute name  - khaki *\/ */
/* pre .atv, code .atv { color: #65B042; } /\* html/xml attribute value - green *\/ */
/* pre .dec, code .dec { color: #3387CC; } /\* decimal - blue *\/ */

/* - - END PRETTYPRINT COLORS - - */


/* - END STYLING CODE - */



/* - MISC - */

#copyleft {
  -webkit-transform: rotate(180deg);
   -khtml-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
            display: inline-block;
}

/* - END MISC -  */



/* TESTING */

hr { border:0; height:1px;
    background-image: -webkit-linear-gradient(left, rgba(230,230,230,0), rgba(230,230,230,1) 30%, rgba(230,230,230,1) 70%, rgba(230,230,230,0));
    background-image:    -moz-linear-gradient(left, rgba(230,230,230,0), rgba(230,230,230,1) 30%, rgba(230,230,230,1) 70%, rgba(230,230,230,0));
    background-image:     -ms-linear-gradient(left, rgba(230,230,230,0), rgba(230,230,230,1) 30%, rgba(230,230,230,1) 70%, rgba(230,230,230,0));
    background-image:      -o-linear-gradient(left, rgba(230,230,230,0), rgba(230,230,230,1) 30%, rgba(230,230,230,1) 70%, rgba(230,230,230,0));
   }

hr { border:0; height:1px;
    background-image: -webkit-linear-gradient(left, rgba(230,230,230,0), rgba(230,230,230,1), rgba(230,230,230,0));
    background-image:    -moz-linear-gradient(left, rgba(230,230,230,0), rgba(230,230,230,1), rgba(230,230,230,0));
    background-image:     -ms-linear-gradient(left, rgba(230,230,230,0), rgba(230,230,230,1), rgba(230,230,230,0));
    background-image:      -o-linear-gradient(left, rgba(230,230,230,0), rgba(230,230,230,1), rgba(230,230,230,0));
   }

/* END TESTING */

